# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*
.venv/

# Logs and cache
*.log
*.out
*.tmp
*.cache/
*.pytest_cache/
*.mypy_cache/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
